.btn-primary {
    background-color: #a80116;
}

a:not(.dropin-design).btn-primary,
a:not(.dropin-design).btn-secondary {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    align-items: center;
    border-radius: none;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    height: 50px;
    justify-content: center;
    line-height: 25px;
    padding: 5px;
    text-align: center;
    width: 50%;
}

a:not(.dropin-design).btn-primary:hover {
    border: 2px solid #a80116;
    background: #ca3e3e;
}

a:not(.dropin-design).btn-secondary:hover {
    border: 2px solid #3a3a3a;
    background: #56575c;
}

.btn-secondary {
    background-color: #3a3a3a;
}

.hero-custom .button-container a.button {
    color: #fff;
}

.hero-custom .cta-container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.hero-custom > div {
    background-color: #f5f5f5;
    display: grid;
}

.hero-text-content > * {
    margin-left: 3rem;
    margin-right: 3rem;
}

.hero-custom h1 {
    font-family: "roboto-condensed", sans-serif;
    font-weight: 900;
}

.sale-subtitle {
    color: #545454;
    display: block;
    font-size: 1.75em;
    font-weight: 400;
    line-height: 1.2em;
    margin-top: 5%;
    text-align: left;
}

@media screen and (min-width: 980px) {
    .hero-custom.block > div {
        grid-template-columns: 1fr 1fr;
    }
}
