.hero-custom .button-container a.button {
    color: #fff;
}

.hero-custom .cta-container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.hero-custom > div {
    display: grid;
}

.hero-custom h1 {
    font-family: "roboto-condensed", sans-serif;
    font-weight: 900;
}

.hero-text-content > * {
    margin-left: 3rem;
    margin-right: 3rem;
}

.sale-subtitle {
    color: #545454;
    display: block;
    font-size: 1.75em;
    font-weight: 400;
    line-height: 1.2em;
    margin-top: 5%;
    text-align: left;
}

@media screen and (min-width: 980px) {
    .hero-custom.block > div {
        grid-template-columns: 1fr 1fr;
    }
}
